* {
    background-color: rgb(151, 167, 73);
}

.music {
    margin: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

#container svg {
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid #aaaaaa;
}

.keyboard {
    margin: 0;
    /* max-height: 100vh;
    max-width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#piano {
    display: flex;
}

.white {
    width: 35px;
    height: 120px;
    background-color: white;
    border: 1px solid #333;
}

.white.active {
    background-color: #aaaaaa;
}

.black {
    width: 20px;
    height: 80px;
    background-color: black;
    margin-left: -10px;
    margin-right: -10px;
    z-index: 1;
}

.black.active {
    background-color: #424141;
}

.symbols {
    height: 75vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

.symbol.active {
    background-color: rgb(105, 117, 49);
}

.whole {
    width: 80px;
}

.half {
    height: 80px;
}

.quarter {
    height: 80px;
}

.eight {
    height: 80px;
}

.sixteenth {
    height: 80px;
}

h2 {
    margin: 0;
    border: 1px solid black;
    font-size: 40px;
    cursor: pointer;
}

h3 {
    margin: 0;
}
