</div>
<div class="keyboard">
    <div class="light"></div>
    <div class="dark logo">
        <div class="name">&#119074;</div>
    </div>
    <div class="light"></div>
    <div class="dark logo">
        <div class="name">S</div>
        <div class="name">T</div>
        <div class="name">A</div>
        <div class="name">V</div>
        <div class="name">E</div>
    </div>
    <div class="light"></div>
    <div class="light register">
    {{#if getPasswordsError}}<h5>Something
            <br />
            went wrong
        </h5>{{/if}}
        <div class="form">
            <form method="POST">
        <br /><br /> <br /><br />
        <h3 class="form"> Please log in!
            <br /> <br />
    <a class="click form" href="/register">Return To
        <br />
        Registration</a>
        <br /><br />
        </h3>
        <h4 class="form">Email Address</h4>
        <div class="form">
            <input
                    type="email"
                    id="sign"
                    name="email"
                    placeholder=""
                    value=""
                    autocomplete="off"
                    required
                />
        </div>
                
                <h4 class="form">Password</h4>
                <div class="form">
                    <input
                    type="password"
                    id="sign"
                    name="password"
                    minlength="6"
                    placeholder=""
                    value=""
                    autocomplete="off"
                    required
                />
                </div>
                
            <br /> <br />
            <div class="button">
                <button class="log">Log In</button>
            </div>
        </form>
        </div>
    
        
    </div>
    <div class="light"></div>
    <div class="dark logo">
        <div class="name">S</div>
        <div class="name">T</div>
        <div class="name">A</div>
        <div class="name">V</div>
        <div class="name">E</div>
    </div>
    <div class="light"></div>
    <div class="dark logo"><div class="name">&#119070;</div></div>
    <div class="light"></div>
</div>

<footer>
    <p> © Lucas Ebert - Jan. 2022</p>
</footer>