</div>
<div class="keyboard">
    <div class="light"><h6 class="clef">&#119070;</h6></div>
    <div class="dark"></div>
    <div class="light"><h6>S</h6></div>
    <div class="dark"></div>
    <div class="light"><h6>T</h6></div>
    <div class="light register">
    {{#if getPasswordsError}}<h3>Something
            <br />
            went wrong
        </h3>{{/if}}
    <form method="POST">
        <br /><br /> <br /><br />
        <h3> Please log in!
            <br /> <br />
    <a class="click" href="/register">Return To
        <br />
        Registration</a>
        <br /><br />
        </h3>
        <h4 class="form">Email Address</h4>
                <input
                    type="email"
                    id="sign"
                    name="email"
                    placeholder=""
                    value=""
                    autocomplete="off"
                    required
                />
                <h4>Password</h4>
                <input
                    type="password"
                    id="sign"
                    name="password"
                    minlength="8"
                    placeholder=""
                    value=""
                    autocomplete="off"
                    required
                />
            <br /> <br /> <br />
            <button class="log">Log In</button>
            <br /> <br /> <br /> <br />
        </form>
        <h6 class="letter">A</h6>
    </div>
    <div class="light"><h6>V</h6></div>
    <div class="dark"></div>
    <div class="light"><h6>E</h6></div>
    <div class="dark"></div>
    <div class="light"><h6>&#119074;</h6></div>
</div>
